body {
    background-image: linear-gradient(to right top, #6633f1, #d925ca, #18b6c1, #3daa0a, #00947b);
}

#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}
